/* 

	SearchField	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* suggestions box */
/* js code generates unordered list */
.sf_suggestion{
	position:relative;
	left:50px;
}
.sf_suggestion ul{
	position:absolute;
	margin:0;
	padding:0;
	background:#ffffff;
	border: 1px solid #000;
	top:0;
	left:0;
}
.sf_suggestion li{
	margin:0;
	padding:0;
	list-style:none;
}
.sf_suggestion li a{
	display:block;
	text-indent:5px;
	color:#000;
}
.sf_suggestion li.selected a{
	background:#ee0000;
}