.n0,.n1,.n2,.n3
{
font-family: arial,tahoma,sans-serif;
font-size: 9px;
color:#000;
width:12px;
}
.n0
{
background:#cccccc;
}
.n1
{
background:#cccccc url('japan/icon/v-line.gif') right no-repeat;
}
.n2
{
background:#cccccc url('japan/icon/g-line.gif') bottom no-repeat;
}
.n3
{
background:#cccccc url('japan/icon/angle.gif') right bottom no-repeat;
}
.b0
{
background:#ffffff
}
.b1
{
background:#ffffff url('japan/icon/v-line.gif') right no-repeat;
}
.b2
{
background:#ffffff url('japan/icon/g-line.gif') bottom no-repeat;
}
.b3
{
background:#ffffff url('japan/icon/angle.gif') right bottom no-repeat;
}
.bb
{
background:#000;
}
.bb0
{
background:#777;
}
.bb1
{
background:#777 url('japan/icon/v-line.gif') right no-repeat;
}
.bb2
{
background:#777 url('japan/icon/g-line.gif') bottom no-repeat;
}
.bb3
{
background:#777 url('japan/icon/angle.gif') right bottom no-repeat;
}
.b0x
{
background:url('japan/icon/cross.gif') #ffffff no-repeat
}
.b1x
{
background:#ffffff url('japan/icon/v-line-c.gif') right no-repeat;
}
.b2x
{
background:#ffffff url('japan/icon/g-line-c.gif') bottom no-repeat;
}
.b3x
{
background:#ffffff url('japan/icon/angle-c.gif') right bottom no-repeat;
}
h2.hn span.jheadicon
{
vertical-align:top;visibility:hidden
}
h2.hn:hover span.jheadicon
{
visibility:visible
}
.jheadicon
{
font-size:10pt;
}