ol.day-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.4em;
  margin: 0 auto;
  max-width: 98vw;
  padding: 0;
}

ol.day-grid li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-left: 0;
  padding-top: 2%;
  border: 1px solid #cfd6fe;
  min-height: 44px;
  max-height: 110px;
}

ol.day-grid li a {
  display: block;
  width: 100%;
  padding: 4px;
}

div.year-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
}

div.month-nav {
  line-height: 44px;
}
a.month-nav, a.year-nav {
  min-height: 44px;
  padding: 12px;
}

h2.month {
  margin-top: 20px;
}

h2.month a {
  text-decoration: none;
  color: #000;
  padding: 12px 40vw 12px 0;
}

h2.month a:hover:after {
  content: " \2191";
}

span.p80{
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
}

.image-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.image-fade-in.show {
  opacity: 1;
}

@media all and (min-width: 992px) {
ol.day-grid li a span:before {
  content: "\0023";
}
}

@media all and (max-width: 992px) {
ol.day-grid {
  grid-gap: 0.1em;
}
ol.day-grid li a {
  padding: 12px 0;
}
ol.day-grid li a img {
  width: 60%;
  height: 60%;
}
}

@media all and (max-width: 575px) {
ol.day-grid li a {
  font-size: 80%
}
ol.day-grid li a img {
  width: 80%;
  height: 80%;
}
}
